* {
    margin: 0;
    padding: 0;
    animation: opa 3s;
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text {
    color: white;
    margin-bottom: 25px;
    font-size: 20px;
    letter-spacing: 2px;
}

.loading {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading .line-box {
    padding: 2px;
    width: 40%;
    height: 20px;
    /* border: 2px solid #267591;
    border-radius: 20px; */
}

.loading .line-box .line {
    height: 20px;
    border-radius: 20px;
    background-color: #ac99c1;
    animation: loading 4s forwards cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

body {
    background: black;
    min-height: 100vh;
    overflow: hidden;
}

.star {
    position: absolute;
    top: -20px;
    color: #fff;
    animation: animate 5s linear forwards;
}
.star::before {
    content: '\f005';
    font-family: fontAwesome;
    text-shadow: 0 0 5px #fff,
    0 0 20px #fff,
    0 0 50px #fff;
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        transform: translateY(100vh) rotate(360deg);
        opacity: 0;
    }
}

@keyframes loading {
    0% {
        width: 0%;
    }
    30% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

@keyframes opa {
    0% {
        background-color: black;
        color: black;
    }
    100% {
      
    }
}